* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

body {
  background-color:  gray;
}
header {
  margin-bottom: 80px;
  border-bottom: 4px solid hsl(100deg 0% 30%);
  background-color:  white;
}
strong{
  color: hsl(160deg 100% 30%);
}

.max-width-wrapper {
  width: max-content;
  margin: auto;
}
.intro-chunk {
  
}

.card {
  background-color:  white;
  border-bottom: 4px solid hsl(100deg 0% 30%);
  padding: 10px;
}

.indented-heading{
  margin-left: -20;
  display: inline-block;
  overflow:auto;
  background-color: hsl(45deg 100% 50%);
  padding: 20px;
  border-bottom: 5px solid hsl(45deg 100% 35%);
}